<strong>Olá, {{ user }}</strong>
<p>Há um novo inscrito em seu MeetUp, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{subName}} <br />
  <strong>E-mail: </strong> {{subEmail}}<br />
  <br />
  <small>
    Entre no app para mais informações.
  </small>
</p>